gcp_service_account = "/service-account-path/key.json"
gcp_project_id = "my-project-123456"
sql_instance_user = "bambank"
sql_instance_password = "ya gak tau, kok tanya sanya"
sql_instance_authorized_network = "192.123.0.0/0"